{% extends 'emails/base.html.twig' %}
{% trans_default_domain 'GramSurveyBundle' %}

{% block title %}{{ completedSurvey.survey.name }}{% endblock %}

{% block html %}

    <h4>{{ 'Pesonal information'|trans }}</h4>
    {% set individual = completedSurvey.user.individual %}
    <table>
        <tbody>
        <tr>
            <th>Фамилия</th>
            <td>{{ individual.lastName }}</td>
        </tr>
        <tr>
            <th>Имя</th>
            <td>{{ individual.firstName }}</td>
        </tr>
        <tr>
            <th>Возраст, полных лет</th>
            <td>{{ individual.age }}</td>
        </tr>
        <tr>
            <th>Город проживания</th>
            <td>{{ individual.address.city }}</td>
        </tr>
        <tr>
            <th>Контактный номер телефона</th>
            <td>{{ individual.contacts.mobilePhone }}</td>
        </tr>
        <tr>
            <th>Контактный email</th>
            <td>{{ completedSurvey.user.email }}</td>
        </tr>
        </tbody>
    </table>

    {% for question in completedSurvey.survey.questions %}
        <h4>{{ question.name }}</h4>
        {% for choice in question.choices %}
            <p>
                {% for answer in completedSurvey.answers %}
                    {% if answer.question.id == question.id %}
                        {% for c in answer.choices %}
                            {% if c.id == choice.id %}
                                &times;
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endfor %}

                {{ choice.name }}</p>
        {% endfor %}
        {% for answer in completedSurvey.answers %}
            {% if answer.question.id == question.id %}
                {% for c in answer.choices %}
                    {% if c.isRespondentAnswer %}
                        <p>&times;{{ c.name }}</p>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endfor %}
    {% endfor %}

{% endblock %}