{% extends 'base.html.twig' %}

{% block title %}{{ 'Homepage 2'|trans({}, 'messages') }}{% endblock %}

{% block meta %}
    {{ parent() }}
    <meta name="description" content="{{ 'Homepage 2'|trans({}, 'messages') }}"/>
    <meta name="keywords"
          content="Смартсмайл,купить от стресса,отзывы при стрессе,безопасные от стресса,натуральные против стресса,растительные от стресса,5-НТР,триптофан,окситриптан,депрессия,депресія,стрес,стресс,тривожність,тревожность,роздратованість,раздражительность,переїдання,нічний апетит,гриффония,грифонія,нообут,фенибут,бифрен,кваттрекс,кватрекс,фенібут,бифрен,біфрен, адаптол,афобазол,глицисед,глицин,гліцин,гліцисед,ново-пассит,персен,ново-пасит,ноофен,нотта,седістрес"/>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('spa/dist/Survey.css') }}">

    <style>
        .rule {
            max-width: 500px;
            margin: 0 auto;
        }

        .rule tr td:first-child {
            min-width: 30px;
        }

        .bold {
            font-weight: bold
        }
    </style>
{% endblock %}

{% block body %}

    <div style="display: none">

    </div>
    <div id="survey-app"></div>


{% endblock %}


{% block javascripts %}
    <script>
        var SurveyRouter = {
            GET: {
                surveyByPromocode: '{{ path('survey_rest_survey_by_promocode_get', {'promocode': '123ASD'}) }}'.replace('123ASD', '__promo__'),
                info: '{{ path('app_info') }}',
            },
            POST: {
                completeSurvey: '{{ path('survey_rest_completed_survey_post') }}',
            }
        }

        var SurveyModel = {
            promocode: '{{ survey ? survey.promocode : '' }}'
        }

        var SurveyResources = {
            images: {
                noSurveys: '{{ asset('assets/img/survey@190.png') }}',
                noAccess: '{{ asset('assets/img/no-access@128.png') }}',
                A2: '{{ asset('assets/img/A2@512.png') }}',
                A3: '{{ asset('assets/img/A3@640.jpg') }}',
                A4: '{{ asset('assets/img/A4@640.jpg') }}',
                A5: '{{ asset('assets/img/A5@640.jpg') }}',
                A6: '{{ asset('assets/img/A6@800.jpg') }}',
                A7: '{{ asset('assets/img/A7@488.jpg') }}',
                A8: '{{ asset('assets/img/A8@640.jpg') }}',
            }
        }
    </script>
    <script type="text/javascript"
            src="{{ asset('spa/dist/Survey' ~ (app.environment == 'prod' ? '.min' : '') ~ '.js') }}"></script>

{% endblock %}